@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
:root{
  --purple:#8860d0;
  --grey:#c1c8e4;
  --blue-primary:#5680e9;
  --light-blue:#5ab9ea;
  --ocean-blue:#84ceeb;
}

*{
  margin: 0;
  padding:0;
}
a{
  text-decoration: none;
  color:var(--grey);
}
a:hover{
  text-decoration: none;
  color: var(--grey);
}
.navigation{
  background-color: var(--purple);
}
.home{
  background: conic-gradient(from 225deg at 50% 40%, #c1c8e4, #aab0e3, #9997e0, #8e7dda, #8860d0);
  width: 100vw;
  height: 92vh;
}
.brand{
  font-family: 'Original Surfer', cursive;
  font-size: large;
}